body {
    font-family: "Arial", sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;

    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;

    color: #fff;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
